<div class="chart-container">
    <div class="chart-header">
      <h3>Weekly chart</h3>
      <div class="selectors">
        <select>
          <option>Sep</option>
          <option>Oct</option>
          <option>Nov</option>
        </select>
        <select>
          <option>2024</option>
          <option>2025</option>
        </select>
      </div>
      <div class="average">
        <p>Average working time</p>
        <h4>40 hours</h4>
      </div>
    </div>

    <div class="chart-body">
      <canvas id="barchart"></canvas>
    </div>
  </div>
