<ng-container *ngIf="!isLoginRoute(); else loginTemplate">

<mat-drawer-container class="example-container" >
  <mat-drawer #drawer class="drawer" mode="side" opened>
    <div class="container">
      <img class="logo" src="../assets/Infotel India blue.png">
    </div>
    <div class="flex">
      <div style="display: flex; gap: 10px">
        <!-- Border div, visible only when button is active -->
        <div [ngClass]="{'border-visible': isActive('/dashboard')}" class="border"></div>
        <button mat-button class="menu-button" routerLink="/dashboard" routerLinkActive="active">
          <div class="button-content">

          <img src="../assets/dashboard.png" class="icon">
          <span class="text">Dashboard</span>
          </div>
        </button>
      </div>

      <div style="display: flex; gap: 10px">
        <div [ngClass]="{'border-visible': isActive('/employee')}" class="border"></div>
        <button mat-button class="menu-button" routerLink="/employee" routerLinkActive="active">
          <div class="button-content">

          <img src="../assets/employee.png" class="icon">
          <!-- <span class="text">Employee Menu</span> -->
          </div>
        </button>
      </div>

      <div style="display: flex; gap: 10px">
        <div [ngClass]="{'border-visible': isActive('/user_management')}" class="border"></div>
        <button mat-button class="menu-button" routerLink="/user_management" routerLinkActive="active">
          <div class="button-content">


          <img src="../assets/user.png" class="icon">
          <span class="text">User Management</span>
          </div>

        </button>
      </div>

      <div style="display: flex; gap: 10px">
        <div [ngClass]="{'border-visible': isActive('/admin_control')}" class="border"></div>
        <button mat-button class="menu-button" routerLink="/admin_control" routerLinkActive="active">
          <div class="button-content">

          <mat-icon>security</mat-icon>
          <span class="text">Admin Control</span>
          </div>
        </button>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content class="red-container">
    <mat-toolbar>
      <button mat-icon-button class="example-icon" aria-label="Toggle Menu" (click)="toggleSidenav()">
        <mat-icon>{{ isDrawerOpen ? 'menu' : 'chevron_right' }}</mat-icon>
      </button>
    </mat-toolbar>
    <router-outlet ></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

</ng-container>

<ng-template #loginTemplate>
  <router-outlet></router-outlet>
</ng-template>